<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.SoftwareProject.beuth"
    android:versionCode="1"
    android:versionName="1.0.1" >

    <!-- Nach dem Start-Tag "manifest" folgen Informationen zum Package der App und der Version (hier v1.0.1).
    Nachstehend werden die einzelnen Activities deklariert und angegeben,
    welche Activity beim Start der App geladen werden soll.
 	-->
    
    <!-- Mindest- und Ziel-Version der Versionen des Betriebssystems Android vom Unternehmen Google -->
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />

    <!-- Deklaration der Activities -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!-- Splash wird beim Start der App geladen -->
        <activity
            android:name=".Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Landing ist die Startseite der App (Menu) -->
        <activity
            android:name=".LandingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.SoftwareProject.beuth.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- MainActivity (Quizz) -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.SoftwareProject.beuth.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- EinstellungenActivity -->
        <activity
            android:name=".EinstellungenActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.SoftwareProject.beuth.MainActivity" />
        </activity>
        
        <!-- QuestionInputActivity (Speichern von Fragen) -->
        <activity
            android:name=".QuestionInputActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.SoftwareProject.beuth.QuestionInputActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		
		<!-- QuestionTypeActivity (Auswahl des Frage-Typs) -->
		<activity
            android:name=".QuestionTypeActivity"
            android:label="@string/app_name" >
			<intent-filter>
                <action android:name="com.SoftwareProject.beuth.QuestionTypeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- UserThemeActivity (Hinzufuegen von Themen, ab Version v2.0.1) -->
        <activity
            android:name=".UserThemeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.SoftwareProject.beuth.UserThemeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- UnderConstructionActivity (Sofern Activities noch in Arbeit sind) -->
        <activity
            android:name=".UnderConstructionActivity"
            android:label="@string/app_name" >
			<intent-filter>
                <action android:name="com.SoftwareProject.beuth.UnderConstructionActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- CrashActivity (Exception-Handler) -->
        <activity
            android:name=".CrashActivity"
            android:label="@string/app_name" >
			<intent-filter>
                <action android:name="com.SoftwareProject.beuth.CrashActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
    
</manifest>