<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.SoftwareProject.beuth"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LandingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.SoftwareProject.beuth.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.SoftwareProject.beuth.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EinstellungenActivity"
            android:label="@string/title_activity_einstellungen"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.SoftwareProject.beuth.MainActivity" />
        </activity>
        <activity
            android:name=".QuestionInputActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.SoftwareProject.beuth.QuestionInputActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserThemeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.SoftwareProject.beuth.UserThemeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CrashActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".QuestionTypeActivity"
            android:label="@string/title_activity_question_type" >
        </activity>
        <activity
            android:name=".QuestionTypeOpenActivity"
            android:label="@string/title_activity_question_type_open" >
        </activity>
    </application>

</manifest>